{{ with .Params.href }}
<div class="href">
  ➢ <a href="{{- . -}}" title="{{- . -}}"
    class="link grow no-underline dib">
    {{ $.Param "read_more_copy" | default (i18n "readMore" | humanize) }}
    <span class='plus'>{{ . }}</span>
  </a>
</div>
{{ end }}
