<div class="relative w-100 bg-white nested-copy-line-height">
  <div class="bg-white pa4 gray overflow-hidden">
    <h1 class="f3 near-black">
      {{- partial "sites.html" . -}}
      <a href="{{ .Permalink }}" class="link black dim">{{- .Title -}}</a>
    </h1>
    <p>
      {{- partial "authors.html" . -}}
      {{- partial "date.html" . -}}
    </p>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary  }}
    </div>
    {{- partial "href.html" . -}}
  </div>
</div>
