{{ with .Params.tag }}
<span class="">
  {{- partial "tag.html" . -}}
</span>
{{ end }}

{{ with .Params.tags }}
<span class="">
  {{ range . }}
  {{- partial "tag.html" . -}}
  {{ end }}
</span>
{{ end }}
