nav > div:first-child > a:before {
	content: '🕸';
	font-size: 60px;
}

.href {
	margin: 1em auto;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
	.near-black {
		color: ivory;
	}
	.dark-gray {
		color: lightgray;
	}
	.mid-gray {
		color: gray;
	}
	.gray {
		color: ivory;
	}
	.black {
		color: white;
	}
	.bg-light-gray, .bg-white {
		background-color: transparent;
	}
	.pagination li.active a:link, .pagination li.active a:active, .pagination li.active a:visited {
		color: white;
		background-color: #333;
	}
	.pagination li a {
		color: lightgray;
		background-color: black;
	}
}

@media not print {
	.href .plus {
		display: none;
	}

	/*
	 * Hides links visible in web pages, those links can be useful when pages are
	 * dumped as text, for mails for example, or when printed
	 */
	.series .href {
		display: none;
	}
}
