{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <h1 class="f1 athelas mb1">
        {{- partial "sites.html" . -}}
        {{- .Title -}}
      </h1>
      {{- partial "authors.html" . -}}
      {{- partial "date.html" . -}}
    </header>

    <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
      {{- .Content -}}
      {{- partial "href.html" . -}}
      {{- partial "tags.html" . -}}
    </section>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>
  </article>
{{ end }}
