{{ define "main" }}
  <div class="mw8 center">    
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ $type := .Type }}
      {{ range $.Data.Terms.ByCount }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (lower (printf "/%s/%s" $type (urlize .Name))) }}
          <article class="w-100 w-30-l mb4">
            <a href="{{- .Permalink -}}">{{- .Name -}}</a>
            <span>({{- $count -}})</span>
          </article>
        {{ end }}
      {{ end }}
    </section>
  </div>
{{ end }}
