{{ define "main" }}
  <div class="mw8 center">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  .Pages }}
        <div class="relative w-100  mb2 bg-white">
          {{- partial "sites.html" . -}}
					<a href="{{.RelPermalink}}">{{ .Title }}</a>
					<small>{{- partial "date.html" . -}}</small>
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
